page-item-detail {
  .toolbar-title{
    text-transform: uppercase;
  }
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
  .item img {
    display: initial!important;
  }
  .item h2 {
    font-weight: 400;
  }
  .item p {
    font-weight: 400;
    font-size: 1.3rem;
  }
  .note {
    font-size: 1.2rem;
    color: black;
  }

}
