page-tutorial {
  background: url("/assets/img/background.jpg") no-repeat;
  background-size: cover;

  .toolbar-background {
    background: url("/assets/img/background.jpg");
    border-color: transparent;
  }

  .bar-button {
    font-weight: 600;
  }
  .content{
    background: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: .5rem;
    color: color($colors, primary, base);
  }

  .slide-image {
    max-width: 90%;
    margin: 6px 0 0px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: lightgrey;

    b {
      color: #ffffff;
    }
  }

}
