<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems | async">
      <button ion-item (click)="openItem(item)" *ngIf="item[0] =='vuelo'">
        <ion-icon name="ios-plane" item-start></ion-icon>
        <h2>{{item[1]}}</h2>
        <p>{{item[3]}}</p>
        <ion-note>{{item[2]| date: 'dd/MM/yyyy H:mm'}}</ion-note>
      </button>
      <button ion-item (click)="openItem(item)" *ngIf="item[0] =='transporte'">
        <ion-icon name="ios-bus" item-start></ion-icon>
        <h2>{{item[1]}}</h2>
        <p>{{item[3]}}</p>
        <ion-note>{{item[2]| date: 'dd/MM/yyyy H:mm'}}</ion-note>
      </button>
      <button ion-item (click)="openItem(item)" *ngIf="item[0] =='reunión'">
        <ion-icon name="ios-pin" item-start></ion-icon>
        <h2>{{item[1]}}</h2>
        <p>{{item[3]}}</p>
        <ion-note>{{item[2]| date: 'dd/MM/yyyy H:mm'}}</ion-note>
      </button>
      <button ion-item (click)="openItem(item)" *ngIf="item[0] =='actividad'">
        <ion-icon name="ios-bonfire" item-start></ion-icon>
        <h2>{{item[1]}}</h2>
        <p>{{item[3]}}</p>
        <ion-note>{{item[2]| date: 'dd/MM/yyyy H:mm'}}</ion-note>
      </button>
      <button ion-item (click)="openItem(item)" *ngIf="item[0] =='hotel'">
        <ion-icon name="ios-home" item-start></ion-icon>
        <h2>{{item[1]}}</h2>
        <p>{{item[3]}}</p>
      </button>
      <button ion-item (click)="openItem(item)" *ngIf="item[0] =='comida'">
        <ion-icon name="md-restaurant" item-start></ion-icon>
        <h2>{{item[1]}}</h2>
        <p>{{item[3]}}</p>
        <ion-note>{{item[2]| date: 'dd/MM/yyyy H:mm'}}</ion-note>
      </button>
      <button ion-item color="danger" (click)="openItem(item)" *ngIf="item[0] =='anuncio'">
        <ion-icon name="md-warning" item-start></ion-icon>
        <h2>{{item[1]}}</h2>
        <p>{{item[3]}}</p>
        <ion-note>{{item[2]| date: 'dd/MM/yyyy H:mm'}}</ion-note>
      </button>
      <button ion-item (click)="openItem(item)" *ngIf="item[0] =='información'">
        <ion-icon name="md-information-circle" item-start></ion-icon>
        <h2>{{item[1]}}</h2>
        <p>{{item[3]}}</p>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
